<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Proj_Book_Store_Manage.Properties.Settings.BOOKSTOREMANAGEConnectionString"
            connectionString="Data Source=DUCTHANH\SQLEXPRESS;Initial Catalog=BOOKSTOREMANAGE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>